body
{
 background: #FFFFFF;
 font-family:arial;
 text-decoration:none;
 color:#000000;
}

a
{
  
}

img
{
 border:1px solid #000000;
 box-shadow:0px 0px 3px #000000;
}

#header
{
 background-color: red;
 padding:10px;
}

#link
{
 
}

#navbar
{
 
}
